/* Container for the page */
.master-page-container {
    background: white;
}


.home-container {
    /* background-color: #141a29;
    color: white;
    min-height: 100vh;
    width: 100vw;
    display: position;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden; */

    background: linear-gradient(#141a29, 75%, #27333e);
    color: white;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    position: relative;
    /* overflow-y: auto; */
    display: flex;
    overflow-x: hidden;
}

.image-overlay {
    position: absolute;
    background-color: transparent;
    top: 50%;
    left: -10%;
    width: 120%;
    height: 50%;
    /* background-image: url('./images/background-bars-2.png'); Replace with your image path */
    background-size: cover;
    /* Keeps the image aspect ratio */
    background-position: center center;
    /* Centers the image */
    /* z-index: -1; */
    object-fit: cover;
}

/* Main content styling */
.home-content {
    position: relative;
    max-width: 900px;
    margin: 2rem auto;
    /* Centers the text and adds vertical spacing */
    /* font-size: 1.2rem; Slightly larger for emphasis */
    /* line-height: 1.6; Adds space between lines for readability */
    /* text-align: center; Keeps text centrally aligned under the header */
    color: #e0e0e0;
    /* Softer white for contrast on dark backgrounds */
    padding: 1rem;
    /* font-family: 'Tomorrow', sans-serif; */
    align-items: center;
}

.home-content h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 30vh;
    color: #cccccc;
    /* Slightly lighter for subheaders */
    font-weight: 200;
    /* margin-bottom: 5vh; */
    padding-left: 1vw;
    padding-right: 1vw;
}

.home-content p {
    font-size: 1.2rem;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    font-weight: 300;
    /* max-width: 700px; */
}

.home-content h2 {
    padding-top: 10vh;
    font-size: 3rem;
    /* font-weight: normal; */
    text-align: center;
}


.home-content g {
    color: #6EF0CD;
}

.highlight {
    color: #6EF0CD;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 6vh;
    /* Same top margin as the button */
}

.read-more-button {
    background-color: transparent;
    color: white;
    border: 1.5px solid white;
    padding: 15px 60px;
    margin-top: 6vh;
    font-size: 2rem;
    font-weight: 200;
    border-radius: 15px;
    cursor: pointer;
}

.read-more-button:hover {
    background-color: white;
    border: 1.5px solid white;
    color: #141a29;
}


.main-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    top: 110px;
}

.logo-container {
    height: 50px;
    width: auto;
    justify-content: center;
    position: relative;
    display: flex;
    margin-top: 10vh;
    padding-top: 5vw;
    /* place-items: center; */
}

.styled-logo {
    height: 100%;
    display: block;
    /* align-items: center; */
}


.divider {
    height: 15px;
    /* Thickness of the line */
    background-color: white;
    /* White color for the line */
    width: 100%;
    /* Full width */
}


.howto-container {
    background: linear-gradient(to bottom, #f9f6f0 10%, 70%, #e8f3fa);
    color: white;
    width: 100vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    position: relative;
    /* overflow-y: auto; */
    overflow-x: hidden;
}

.howto {
    max-width: 1000px;
    margin: 2rem auto;
    color: #e0e0e0;
    padding: 1rem;
    align-items: center;
}

.howto h1 {
    color: #333;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;

    /* max-width: 700px; */
}

.howto p {
    color: black;
    /* text-align: left; */
    font-size: 1.5rem;
    font-weight: 400;
}

.features-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0rem;
    /* background-color: #1b1c47; Adjust as needed */
    color: white;
}

/* Each feature column */
.feature-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    text-align: center;
    padding: 10px;
    width: 25%;
    /* Adjust width as needed */
}

.feature-column p {
    color: #555;
    margin-top: 1vh;
    font-weight: 400;
}

.feature-column p2 {
    color: #777;
    /* margin-top: 1vh; */
    font-weight: 400;
    padding: 10px;
}

/* Image/graphic styling */
.feature-graphic {
    max-width: 100px;
    /* Adjust size as needed */
    max-height: 75px;
    margin-bottom: 1rem;
}

.products {
    color: white;
}

.about {
    color: white;
}

.home-container-1 {
    background: linear-gradient(#141a29, 75%, #27333e);
    color: white;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* overflow-y: auto; */
    overflow-x: hidden;
}

/* Responsive styling for mobile */
@media (max-width: 768px) {
    .features-section {
        flex-direction: column;
    }

    .feature-column {
        width: 100%;
        margin-bottom: 2rem;
    }
}


.video-main {
    background-color: black;
    width: 100%;
    height: 100vh;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.overlay {
    position: absolute;
    top: -10vh;
    left: 0px;
    width: 100%;
    height: 100%;
    scale: 40%;
    /* background-color: rgba(0,0,0,.4); */
    /* background-color: #000000cc; */
}