/* Header.css */
.header {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: #141a29; /* Adjust color as needed */
    position: fixed;
    width: 100%;
    height: 50px; /* content below the header should pad top by 50px */
    top: 0;
    z-index: 1000;
  }
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 950px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 3rem;
    flex-grow: 1;
    justify-content: space-between;
    padding: 10px;
  }

  .nav-links :hover {
    color: rgb(181, 181, 181);
  }

  .nav-links li {
    color: white;
    font-size: 1.2rem;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 200;
  }
  
  .login-button {
    background-color: gray; /* Button color */
    color: white;
    border: none;
    padding: 7.5px 20px; /* Add padding for button */
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
    /* margin-left: 1rem; Spacing between links and button */
    flex-shrink: 0; /* Prevent button from shrinking */
}

.nav-links, .login-button {
  margin: 0 2rem; /* Equal margin on left and right for all items */
}

.login-button:hover {
  background-color: rgb(150, 150, 150); /* Darker shade on hover */
  color: white;
}
  
.dropdown-toggle {
  display: none; /* Hide by default */
  background-color: #141a29;
  color: white;
  font-size: 1rem;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.eye-style {
  margin-top: -5px;
  height: 30px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav {
    flex-direction: row-reverse;
    justify-content: space-between; /* Space items out */
  }
  .nav-links {
    position: absolute;
    top: 60px; /* Adjust based on header height */
    left: 0;
    background: #141a29; /* Background color for dropdown */
    width: 100%;
    z-index: 1000;
    flex-direction: column; /* Stack links vertically */
    display: none; /* Hide dropdown links by default */
  }

  .nav-links.open {
    display: flex; /* Show dropdown links when open */
  }

  .dropdown-toggle {
    display: block; /* Show toggle button in mobile mode */
    margin-left: 3rem; /* Align to the right */
  }

  .nav-links li {
    padding: 10px; /* Add padding for easier clicking */
  }
}